* {
  font-family: "Gowun Dodum", sans-serif;
}
.background {
  width: 100%;
  height: 200px;

  background-image: 
   linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../static/Designer\ \(7\).png");
  background-position:center;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background > h1 {
  font-size:48px;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mybox {
  width: 95%;
  max-width: 900px;
  max-height: 750px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin: 40px auto;
}
.mytasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#task{
  width: 50%;
}
#deadline{
  width:30%;
}
.task-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.task-title > h2 {
  max-width: 80%;
  font-size: 25px;
  font-weight: bolder;
  margin-right: auto;
  margin-bottom: 0px;
}

.task-status{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:10px 0px 0px 0px;
  
}
.task-status p{
  font-weight: bold;
  padding: 0px 8px;
  color: white;
}
.task-status p span{
  margin-left: 4px;
}
.date{
  margin-right: 5px;
}

